html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}
nav{
    width: 100%;
    display: grid;
    background: #262626;
    overflow: hidden;
    position: fixed;
    top:0;
}
a:hover{
    color: orange;
    transition: color 1s;
    cursor: pointer;
}
a:active{
    opacity: 0.7;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 0%;
    text-align: justify;
}
a{
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
#section1{
    height: 600px;
    background: white;
    display:inline-block;
    width: 100%;
    text-align: left;
    
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    color: black;
}

.content p{
    text-align: center;
    font-size: 30px;
}

#section2 {
    box-sizing: border-box;
    height: auto;
    background: orange;
    display:inline-block;
    width: 100%;
    text-align: justify;
    padding-left: 150px;
    padding-right: 150px;
}

#section2 h2 {
    text-align: center;
    font-size: 25px;
}

#section2 p {
    font-size: 20px;
    text-align: justify;
    text-indent: 60px;
}

img {
    float: left;
    margin: 5px;
    padding-right: 20px;
}

#section3 {
    box-sizing: border-box;
    height: 4500px;
    background: orange;
    display: inline-block;
    width: 100%;
    text-align: justify;
    padding-left: 150px;
    padding-right: 150px;
}

.container1 {

}

.con1-icon {
    width: 40%;

}

.row {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 5px;
    width: 100%;
}

.row-config {
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 5px;
}

.col-config {
    width: 20%;
    margin: 5px 0;
}

#section3 p {
    font-size: 20px;
}

#section3 h1 {
    font-size: 24px;
}

#section3 h2 {
    font-size: 20px;
}

#section4{
    box-sizing: border-box;
        height: 1000px;
        background: orange;
        display: inline-block;
        width: 100%;
        text-align: justify;
        padding-left: 150px;
        padding-right: 150px;
}
h1 {
    margin: 100px;
    text-align: center;
    padding: 0;

}
#section5{
     height: 1000px;
     background: orange;
     display:inline-block;
     width: 100%;

}
h1 {
    margin: 100px;
    text-align: center;
    padding: 0;

}
.mytabs label:hover{
    background: #FFF9A6;
    transition: color 1s;
    cursor: pointer;
}
.mytabs label:active{
    opacity: 0.7;
}
.mytabs{
    display: flex;
    flex-wrap: wrap;
   
   
    
}
.mytabs input[type="radio"]{
    display: none;
}
.mytabs label{
    padding: 25px;
    background: gray;
    font-weight: bold;
}
.mytabs .tab{
    width: 100%;
    padding: 20px;
    background: pink;
    order: 1;
    display: none;
}
.mytabs input[type = 'radio']:checked + label + .tab{
    display: block;
} 
.mytabs input[type = 'radio']:checked + label{
    background: yellow;
}
@font-face {
    font-family: Roboto-Regular;
    src: url("../res/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("../res/fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-Light;
    src: url("../res/fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto-Medium;
    src: url("../res/fonts/Roboto-Medium.ttf");
}
