html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}
nav{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #262626;
    overflow: hidden;
    position: fixed;
    top:0;
}
a:hover{
    color: orange;
    transition: color 1s;
    cursor: pointer;
}
a:active{
    opacity: 0.7;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
li{
    display: inline-block;
    text-align: left;
}
a{
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;

}

#section1 {
    box-sizing: border-box;
    height: 800px;
    background: orange;
    display:inline-block;
    width: 100%;
    text-align: justify;
    padding-left: 150px;
    padding-right: 150px;
}

#section1 h2 {
    text-align: center;
}

#section1 p {
    font-size: 20px;
}

#section2 {
    box-sizing: border-box;
    height: 4200px;
    background: orange;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#section2 p {
    font-size: 20px;
}

#section2 h1 {
    font-size: 24px;
}

#section2 h2 {
    font-size: 20px;
}

#section3{
    height: 1000px;
    background: orange;
    display:inline-block;
    width: 100%;
}
h1 {
    margin: 100px;
    text-align: center;
    padding: 0;

}
